table {
	border: 2px solid indigo;
}

td:hover {
	background-color: indigo;
	color: darkgrey;
}

tr, th {
	background-color: darkgrey;
	color: black
}

tr, td {
	background-color: darkgreen;
	color: black;
}